<div fxLayout="row" fxLayoutAlign="center" fxFlex="100%">
    <div fxLayout="column" fxFlex="1000px">
        <form action="" class="mt-60" >
        <mat-card>
            <mat-card-header>
                <mat-card-title>Consulta</mat-card-title>  
            </mat-card-header>
            <mat-card-content>
                <div fxLayout="row" fxLayoutAlign="start">
                    <div fxLayout="column" fxFlex="500px">

                    </div>
                </div>
                <mat-label>Procurar seu usuário</mat-label>
                <input type="text" matInput placeholder="oi">
            </mat-card-content>
            <mat-card-actions>
                <button mat-flat-button color="primary"><mat-icon fontIcon="search"></mat-icon>Buscar</button>
            </mat-card-actions>
        </mat-card>
    </form>
    </div>
</div>
