<div fxLayout="row" fxLayoutAlign="center" fxFlex="100%">
  <div fxLayout="column" fxFlex="900px">
    <form class="mt-30" #cadastroForm="ngForm" (ngSubmit)="cadastrarUsuario()">
      <mat-card >
        <mat-card-header>
          <mat-card-title>Dados pessoais</mat-card-title>
        </mat-card-header>
        <mat-card-content class="mt-20">
          <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="16px">
            <div fxLayout="column" fxFlex="800px">
              <mat-form-field class="full-width">
                <mat-label for="">Seu nome</mat-label>
                <input type="text" matInput placeholder="Digite seu nome" [(ngModel)]="usuario.nome" name="nome">
              </mat-form-field>
            </div>
          </div>
          <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="16px">
            <div fxLayout="column" fxFlex="800px">
              <mat-form-field class="full-width">
                <mat-label for="">Seu email</mat-label>
                <input type="text" matInput placeholder="Digite seu email" [(ngModel)]="usuario.email" name="email">
              </mat-form-field>
            </div>
          </div>
          <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="16px">
            <div fxLayout="column" fxFlex="300px">
              <mat-form-field class="full-width">
                <mat-label for="">Seu CPF</mat-label>
                <input mask="000.000.000-00" type="text" matInput placeholder="Digite seu CPF" [(ngModel)]="usuario.cpf" name="cpf">
              </mat-form-field>
            </div>
          </div>
          <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="16px">
            <div fxLayout="column" fxFlex="300px">
              <mat-form-field class="full-width">
                <mat-label for="">Sua data de nascimento</mat-label>
                <input mask="00/00/0000" type="text" matInput placeholder="Digite sua data de nascimento " [(ngModel)]="usuario.dataDeNascimento" name="dataDeNascimento">
              </mat-form-field>
            </div>
          </div>
          <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="16px">
            <div fxLayout="column" fxFlex="300px">
              <mat-form-field class="full-width">
                <mat-label for="">Seu estado</mat-label>
                <mat-select
                [(ngModel)]="usuario.estado"
                (selectionChange)="listarMunicipiosNaMudancaDoSelect($event)"
                name="estadoSelecionado">
                  @for (estado of listaUF; track $index) {
                    <mat-option [value]="estado.sigla"> {{ estado.nome }} </mat-option>
                  }
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="16px">
            <div fxLayout="column" fxFlex="300px">
              <mat-form-field class="full-width">
                <mat-label for="">Seu municipio</mat-label>
                <mat-select
                [(ngModel)]="usuario.municipio"
                name="municipio">
                  @for (municipio of listagemMunicipios; track $index) {
                    <mat-option [value]="municipio.nome"> {{ municipio.nome }} </mat-option>
                  }
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </mat-card-content>
        <mat-card-actions class="pl-16">

          <div *ngIf="atualizando; else blocoNaoAtualizando">
            <button mat-flat-button type="button" (click)="alterarUsuario()" color="primary"><mat-icon fontIcon="refresh"></mat-icon> Alterar </button>
          </div>
          <ng-template #blocoNaoAtualizando>
            <button mat-flat-button color="primary" type="submit"><mat-icon fontIcon="save"></mat-icon>  Cadastrar </button>
          </ng-template>
          <button mat-flat-button color="accent" class="ml-5"><mat-icon fontIcon="backspace"></mat-icon> Limpar </button>
        </mat-card-actions>
      </mat-card>

    </form>
  </div>
</div>
